<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>954879073004-pup8jgk33ted5logdo4gq6p5utssklik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954879073004-pup8jgk33ted5logdo4gq6p5utssklik</string>
	<key>API_KEY</key>
	<string>AIzaSyDqsNU0qq0CWI-ibL0bhPO5eYZsIZqg6_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>954879073004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloud.blacksalt.snapshop</string>
	<key>PROJECT_ID</key>
	<string>snapshop-ef684</string>
	<key>STORAGE_BUCKET</key>
	<string>snapshop-ef684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:954879073004:ios:7c4db77155ed740b</string>
	<key>DATABASE_URL</key>
	<string>https://snapshop-ef684.firebaseio.com</string>
</dict>
</plist>
